* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: auto auto 200px 60px;
    grid-template-areas: "header"
                         "main"                         
                         "form"
                         "footer";
}


header {
    grid-area: header;
    position: fixed;
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    background-color: white;
    justify-content: center;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    
}

#nav-bar {
    display: flex;
    justify-content: space-between;
    align-self: center;
    width: 350px;
    
}

.nav-link {
    font-size: 2em;
}

main {
    grid-area: main; 
    display: flex;
    flex-direction: column;
}


#about {
    background-color: white;
    height: 600px;
    margin-top: 80px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 50px 10px
}

p {
    margin: 0 0 20px;
    font-size: 1.2em;
    line-height: 1.5em;
}

#video-div {
    
    background-color: lightpink;
    padding: 100px 0;
}

#video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    padding: 0 10px;
    
}

#plans__section {
    margin: 20px 0;
}

#plans {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;    
}


#plan {
    
    max-width: 300px;
    padding: 20px 30px;
    margin: 0 15px 30px;
    border: 2px solid green;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title {
    font-weight: 400;
    font-size: 3em;
    height:100px;
    display: flex;
    align-items: center;
    justify-content: center;

}

#plan__title {
    font-weight: 400;
    font-size: 2em;
    text-align: center;
    padding: 5px 10px 10px 10px;
}

#plan__price {
    font-size: 4em;
    text-align: center;
    padding: 10px 10px 10px 10px;
}

#plan__description {
    padding: 0px;
    text-align:justify;

}

#plan__btn {
    size: 3em;
    width: 50%;
    height: 40px;
    margin: 30px 0 10px 0;

}

#form-div {
    grid-area: form;
    background-color: lightpink;
    width: 100%;

    
}

footer {
    grid-area: footer;
    background-color: black;
    position: relative;
    bottom: 0;
    ;   
  
}

#footer__text {
    color: white;
    display: flex;
    flex-direction: row;
    
}


@media (max-width: 320px) {
    #nav-bar {
        background-color: black;
    }       
}      